[mail]
FromAddress  = foo@foobar.foo
AnnounceList = ledger-smb-announce@lists.sourceforge.net
UsersList    = ledger-smb-users@lists.sourceforge.net
DevelList    = ledger-smb-devel@lists.sourceforge.net
Password     = testPW
MTAbinary    = ssmtp

[wiki]
PageToEdit   = Wikipedia:Sandbox
User         = foobar
Password     =

[matrix]
Server              = matrix.org
User                = ledgersmb_u_bot
Password            = ledgersmb_u_bot
Room                = #ledgersmb:matrix.org


